/* Style Generator */

/* Main Color Items */

/* BGCOLOR */
.header, .grid-item, .grid-item .overlay, .footer, .cta-widget .button, .blog-title, .meta-bar   {
	background-color: #272727;
}

/* COLOR */

.centered-text-widget h2, .rd-more a, .rd-more {
	color:#272727;
}

/* Accent Color Items */

/* BGCOLOR */

.grid-item img.zoom, .cta-widget h3, .blog-meta {
	background-color: #BE0000;
}

/* COLOR */

.widget-list ul li:before {
	color: #BE0000;
}